###############################################################################
# Set default behavior to automatically normalize line endings.
* text=auto

Dependencies/wxWidgets/lib/** filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
